// Maintain ratio mixin. Great for responsive grids, or videos.
// https://gist.github.com/brianmcallister/2932463
//
// $ratio - Ratio the element needs to maintain.
//
// Examples
//
//   // A 16:9 ratio would look like this:
//   .element {
//     @include maintain-ratio(16, 9);
//   }


@mixin maintain-ratio($width, $height) {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;

  &:before {
    display: block;
    margin-top: percentage($height / $width);
    content: '';
  }
}
