ul {
  margin: $base-spacing 0;
  padding: 0;
  list-style-type: none;
  border: 2px solid transparent;
  border-left: 2px solid $font-extra-light;

  @media(min-width: 600px) {
    margin-left: 2px;
  }

  li {
    margin-bottom: 20px;
    margin-left: 1.25em;

    &:before {
      width: .75em;
      display: inline-block;
      content: " ";
      font-size: 1em;
      line-height: 1em;
      margin-left: -1.25em;
      margin-bottom: .3em;
      margin-right: .5em;
      border-bottom: 2px solid $font-extra-light;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &.no-bullet:before {
      border: 0;
    }

    p:first-child {
      margin-top: -30px;
    }
  }
}

ol {
  margin-bottom: $small-spacing;
  padding-left: 0;
  margin-left: -15px;
  list-style-type: decimal;

  @media(max-width: 675px) {
    margin-left: 5px;
    padding-left: $small-spacing;
  }

  li {
    margin-bottom: .3em;
    padding-left: $small-spacing;
  }
}

dl {
  dt {
    margin-top: $small-spacing;
    font-weight: bold;
  }

  dd {
    margin-left: 20px;
    text-align: right;
    margin-top: $small-spacing;
  }
}
