body {
  font-feature-settings: "kern", "liga", "pnum";
  //-webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  font-family: $heading-font-family;
}

h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:1.5em; margin:1.45833em 0; }
h2 { font-size:1.33333em; margin:2.5em 0 1.25em; }
h3 {
  font-feature-settings: "c2sc";
  font-family: "equity-caps-b";
  font-size:1em;
  font-weight: bolder;
  margin: 1.5em 0 1em;
}
h4 {
  font-family: $base-font-family;
  font-size:1em;
  font-weight: bold;
  margin: 1em 0 1em;
}

acronym {
  font-feature-settings: "c2sc";
  font-family: "equity-caps-b";
}

p {
  font-feature-settings: "kern", "liga", "pnum";
  margin: 0;
  margin-bottom: 1em;
}

.post p {
  font-feature-settings: "kern", "liga", "dlig", "pnum", "ss01", "onum";
  margin-right: -20px; // For unjustifiable overhang

  > img {
    padding-right: 20px;
  }
}

a {
  color: $blue;
  text-decoration: none;
  transition: color 125ms;

  &:active,
  &:focus,
  &:hover {
    color: $blue-hover;
    text-decoration: none;
  }
}


img,
picture {
  margin: 0;
  max-width: 100%;
}


blockquote {
  border-left: 3px solid $font-extra-light;
  padding: $small-spacing $base-spacing;
  margin: 2em 0 2em 0;

  >p {
    font-size: 1em;
    font-style: italic;
    line-height: 1.8;
    color: #777;
    margin: 0;
    padding: 0;
  }

  &.long {
    padding-right: 0;
    margin-right: $small-spacing;

    p {
      font-size: 1em;
      font-style: inherit;
      line-height: inherit;
      color: #777;
      margin: 0 0 1em;
    }
  }
}

[justify] {
  visibility: hidden;
}

code {
  font-size: .8em;
  font-family: 'Courier New', Courier, monospace;
  color: #555;
}

p code {
  white-space: normal;
  font-family: 'Courier New', Courier, monospace;
  font-size: .8em;
}

pre code {
  font-size: 1.3em;
}

label {
  display: block;
  font-weight: bold;
  font-family: $heading-font-family;
  margin-top: 1em;
}

input[type="text"], textarea {
  font-family: $base-font-family;
  font-weight: normal;
  background-color: #fff;
  border: 1px solid #CFC5B4;
  box-shadow: inset 2px 2px 1px rgba(0,0,0,.1);
  padding: 10px;
  display: block;
  width: 100%;
  margin: 5px 0;
}

hr {
  margin: 4rem 2rem;
  border: none;
  border-top: 1px solid #aaa;
}
