// Typography
$base-font-family: 'equity-text-b';
$heading-font-family: "Raleway", sans-serif;

// Font Sizes
$base-font-size: 18px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 32px;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$paper: #f0f0f4;
$white: #fdfcf8; //F7F7F5;
$font-white: #fff;
$font: #363022;
$font-light: #655D4E;
$font-extra-light: #99907F;

$green: #507443;
$green-hover: #2A5F37;
$green-afterimage: #eff1ee;

$blue: #3B799D;
$blue-hover: #004B61;
$blue-afterimage: #eff1f2;

$violet: #9C6994;
$violet-hover: #755582;
$violet-afterimage: #f3f0f3;

$red: #BA2E17;
$red-hover: #850301;
$red-afterimage: #f5f0ee;

$yellow: #EFC11C;
$yellow-hover: #CEA71C;
$yellow-afterimage: #f3f0ed;
$yellow-text-hover: #A68409;
$yellow-text: #CEA71C;


$writing-theme: $red;
$writing-theme-hover: $red-hover;
$tools-theme: $blue;
$tools-theme-hover: $blue-hover;
$services-theme: $green;
$services-theme-hover: $green-hover;
$art-theme: $violet;
$art-theme-hover: $violet-hover;
$contact-theme: $yellow-text;
$contact-theme-hover: $yellow-text-hover;

// Font Colors
$base-background-color: #fff;
$base-font-color: $font;
$action-color: $blue;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);