---
---
@import "{{ site.theme }}";
@import "main.scss";

* {
  box-sizing: border-box;
}

html {
  @media(min-width: 676px) {
    height: 100%;
  }

  &.tools { background-color: $tools-theme; }
  &.writing { background-color: $writing-theme; }
  &.services { background-color: $services-theme; }
  &.art { background-color: $art-theme; }
  &.contact { background-color: $yellow; }
  &.default { background-color: $blue; }
}

@mixin colorLink($color, $hover) {
  color: $color;

  &:hover {
    color: $hover;
  }

  @media(max-width: 650px) {
    background-color: $color;
    color: $font-white;
  }
}

.page {
  background-color: $paper;
  margin: 0;
  padding: 0;

  .content > .aside, content > .aside-mobile {
    float: right;
    width: 40%;
    margin-top: 32px;
    color: $font-light;
    font-family: $heading-font-family;

    @media(max-width: 900px) {
      display: none;
    }
  }

  .content > .aside-mobile {
    display: none;
    margin-bottom: 60px;
    text-align: center;

    @media(max-width: 900px) {
      display: block;
      float: none;
    }
  }

  h1 {
    font-size: 72px;
    font-weight: 200;
    margin: 10px 0 60px -2.65ch;
    max-width: 475px;
    display: block;
    padding: 30px;
    color: #fff;

    @media(max-width: 1030px) {
      margin-left: -50px;
    }

    @media(max-width: 900px) {
      text-align: center;
      margin: 10px auto 10px;
    }

    @media(max-width: 400px) {
      font-size:48px;
    }
  }

  .mobile-nav {
    font-family: $heading-font-family;
    display: none;
    color: $font-white;
    border: none;

    > div {
      flex: 1;
      text-align: left;
    }

    .fa-bars {
      margin-top: 5px;
    }

    @media(max-width: 650px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 24px;
      padding: 20px 30px;
    }
  }

  nav {
    position: relative;
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    justify-content: space-between;

    @media(max-width: 650px) {
      display: none;
      &.open {
        display: flex;
        background-color: $paper;
        flex-direction: column;
        align-content: space-between;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
      }
    }

    .mobile-nav {
      background-color: $font-light;
    }

    a {
      font-family: $heading-font-family;
      font-size: 18px;
      padding: 20px;
      transition: color 125ms;

      &:hover, &:focus {
        text-decoration: underline;
      }

      &.tools { @include colorLink($tools-theme, $tools-theme-hover) }
      &.art { @include colorLink($art-theme, $art-theme-hover) }
      &.services { @include colorLink($services-theme, $services-theme-hover) }
      &.writing { @include colorLink($writing-theme, $writing-theme-hover) }
      &.contact { @include colorLink($contact-theme, $contact-theme-hover);
        @media(max-width: 650px) {
          color: $font;
          &:hover {
            color: $font;
          }
        }
      }

      &.gray {
        @include colorLink($font, $font-light);
        margin-right: 25px;

        @media(max-width: 650px) {
          display: none;
        }
      }

      @media(max-width: 650px) {
        display: block;
        font-size: 24px;
        padding: 20px 30px;
      }
    }
  }

  main {
    position: relative;
    z-index: 2;
  }

  .content {
    @include clearfix();
    padding: 50px;
    background-color: #fff;
    margin: 0 auto -50px;
    max-width: 900px;

    @media(max-width: 675px) {
      padding: 20px;
    }
  }

  footer {
    position: relative;
    height: 150px;
    padding-top: 100px;
    text-align: center;
    color: $font-white;
    a { color: rgba(255,255,255,.25) }
    a:hover { color: rgba(255,255,255,1) }
  }
}

@mixin colorPage($text-color, $color, $hover, $class) {
  position: relative;
  .mobile-nav {
    background-color: $color;
  }

  h1 {
    background-color: $color;
    @media(max-width: 900px) {
      background-color: transparent;
      color: $color;
    }
  }


  nav {
    a.#{$class} {
      background-color: $color;
      color: $font-white;
      &:hover {
        color: $font-white;
        background-color: $hover;
        font-weight: normal;
      }
    }
  }

  footer {
    background-color: $color;
  }

  a {
    color: $text-color;

    &:hover {
      color: $hover;
    }
  }

  ul {
    border-left-color: $color;
    li:before {
      border-bottom-color: $color;
    }
  }

  blockquote {
    border-color: $color;
  }
}

.page {
  @include colorPage($blue, $blue, $blue-hover, default);
}

.contact-page {
  @include colorPage($contact-theme, $yellow, $contact-theme-hover, contact);
  nav a.contact {
    color: $font;
    &:hover {
      color: $font;
      background-color: $yellow-hover;
    }
  }

  .social {
    margin-top: 120px;
    text-align: center;

    a {
      margin-right: 20px;

      .fa-envelope {
        line-height: 0.7;
      }
    }
  }

  h4 {
    color: $yellow-hover;
    font-size: 24px;
  }

  textarea {
    height: 30vh;
  }

  .content button {
    display: block;
    float: right;
    background-color: $yellow;
    color: $font;
    font-family: $heading-font-family;
    padding: 10px 50px;
    border: none;
    margin-top: 24px;
  }
}

.art-index-page {
  @include colorPage($art-theme, $art-theme, $art-theme-hover, art);
  .date {
    float: right;
    font-style: italic;
    color: $font-extra-light;
  }

  .title {
    font-family: $heading-font-family;
  }

  ul {
    max-width: 675px;
    margin: 0 auto;
  }
}

.art-page {
  @include colorPage($art-theme, $art-theme, $art-theme-hover, art);
  h1 {
    font-size: 48px;
    margin-left: -3.3ch;
  }

  .art-post {
    img {
      display: block;
      border: 1px solid #CFC5B4;
      margin: 0 auto 50px;
    }
  }
}

.blog-index-page {
  @include colorPage($writing-theme, $writing-theme, $writing-theme-hover, writing);
  .date {
    float: right;
    font-style: italic;
    color: $font-extra-light;
  }

  .title {
    font-family: $heading-font-family;
  }

  .description {
    color: $font-light;
    margin-bottom: 40px;
  }

  ul {
    max-width: 675px;
    margin: 0 auto;
  }
}

.blog-page {
  @include colorPage($writing-theme, $writing-theme, $writing-theme-hover, writing);

  h1 {
    max-width: 550px;
  }

  .post {
    width: 70%;
    float: right;

    @media(max-width: 675px) {
      width: 100%;
      float: none;
      margin: 0 auto;
    }
  }

  svg.chart {
    color: #888;
  }

  .marginalia  {
    font-family: "Raleway";
    font-size: 14px;
    color: $font-extra-light;
    min-height: 100%;
    width: 29%;
    padding-right: 40px;
    float: left;

    @media(max-width: 675px) {
      display: none;
    }

    p {
      white-space: pre-wrap;
    }
  }

  figure.image {
    margin: $base-spacing 0;
    padding: $small-spacing/2 $base-spacing;
    font-size: .9em;
    overflow: auto;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
  }

  pre.highlight {
    overflow: visible;
    background-color: $font-white;
  }

  pre {
    overflow: visible;
  }

  figure.highlight, div.highlight {
    overflow: auto;
    border-top: 1px solid #EBE1CF;
    border-bottom: 1px solid #EBE1CF;

    padding: 30px 50px;
    overflow-x: auto;
    max-height: 50vh;
    overflow-y: auto;
    font-size: 12px;
    margin-bottom: $base-spacing * 2;
    margin-top: $base-spacing * 2;
    margin-left: calc(-43% - 49px);
    margin-right: -50px;

    background: #fffffe;

    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar-track {
      background-color: $font-white;
    }

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background-color: $font-white;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #EBE1CF;
    }

    @media(max-width: 675px) {
      margin: 0 -20px $base-spacing;
    }
  }

  .scrub {
    clear: both;
  }
}

.tools-page {
  @include colorPage($tools-theme, $tools-theme, $tools-theme-hover, tools);
  .content {
    padding-bottom: 0;
  }

  .tool {
    background-color: #fff;
    border: 1px solid #CFC5B4;
    display: flex;
    margin-bottom: 50px;

    @media(max-width: 575px) {
      display: block;
    }

    .img {
      margin: -1px;
      width: 225px;
      height: 225px;

      @media(max-width: 768px) {
        border-radius: 3px;
        overflow: hidden;
        width: 100px;
        height: 100px;
        margin: 30px 0 30px 30px;
      }

      @media(max-width: 575px) {
        margin: 30px auto 0;
      }
    }

    .description {
      flex: 1;
      padding: 30px;
    }

    a {
      color: $font-white;
      margin: 30px auto 0;
      max-width: 150px;
      background-color: $blue;
      display: block;
      text-align: center;
      font-family: $heading-font-family;
      padding: 5px 10px;

      @media(max-width: 675px) {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .tool.vistimo a {
    background-color: #0085AA;
    &:hover {
      background-color: darken(#0085AA, 10%);
    }
  }

  .tool.reference-board {
    .img {
      background-color: #FCDFBD;
    }
    a {
      background-color: #FF8800;
      &:hover {
        background-color: darken(#FF8800, 10%);
      }
    }
  }

  .tool.draw-every-day {
    .img {
      background-color: #3DA5E6;
    }
    a {
      background-color: #3DA5E6;
      &:hover {
        background-color: darken(#3DA5E6, 10%);
      }
    }
  }

  .tool.pigmentor a {
    background-color: #E08782;
    &:hover {
      background-color: darken(#E08782, 10%);
    }
  }
}

@mixin serviceBox($color, $hover) {
  .title { color: $color }
  a {
    background-color: $color;
    &:hover { background-color: $hover; }
  }
}

.services-page {
  @include colorPage($services-theme, $services-theme, $services-theme-hover, services);
  .content > .services {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }

  .service {
    background-color: #fff;
    border: 1px solid #CFC5B4;
    padding: 30px;
    padding-bottom: 70px;
    margin: 15px;
    min-width: 250px;
    flex: 1;
    position: relative;

    .title {
      color: $services-theme;
      font-family: $heading-font-family;
      font-size: 24px;
      margin-bottom: 20px;
    }

    a {
      color: $font-white;
      margin: 30px auto 0;
      max-width: 275px;
      background-color: $blue;
      display: block;
      text-align: center;
      font-family: $heading-font-family;
      padding: 5px 10px;
      position: absolute;
      bottom: 30px;
      left: 30px;
      right: 30px;
    }
  }

  .service.hire { @include serviceBox($violet, $violet-hover);}
  .service.gap { @include serviceBox($blue, $blue-hover);}
  .service.talks { @include serviceBox($red, $red-hover);}
  .service.web-app { @include serviceBox($green, $green-hover);
    min-width: 70%;
  }
  .service.linkless {
    padding-bottom: 30px;
  }
  .service.audit {
    @include serviceBox($yellow, $yellow-hover);
    .title {color: $yellow-text;}
  }
}

@mixin indexColorLink($color) {
  color: $color;

  @media(max-width: 675px) {
    background-color: $color;
    color: $font-white;
  }

  &:hover {
    background-color: $color;
    color: $font-white;
  }
}

#index-page {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: $paper;
  display: flex;
  justify-content: stretch;
  align-items: stretch;

  @media(max-width: 675px) {
    flex-direction: column-reverse;
  }

  nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: relative;

    @media(max-width: 675px) {
      flex: 0;
      display: block;
      padding: 40px 30px 110px; // Remove 110px when hiring banner goes
    }

    a {
      font-family: $heading-font-family;
      font-size: 24px;
      padding: 20px 50px;
      margin: 10px 0;
      text-align: right;
      transition: background-color 125ms, color 125ms;

      @media(max-width: 675px) {
        display: block;
        text-align: center;
        max-width: 300px;
        margin: 20px auto;
        font-size: 18px;
        padding: 10px 30px;
      }

      &.tools { @include indexColorLink($tools-theme) }
      &.writing { @include indexColorLink($writing-theme) }
      &.art { @include indexColorLink($art-theme) }
      &.contact { @include indexColorLink($contact-theme);
        &:hover { background-color: $yellow; color: $font }
      }
      &.services { @include indexColorLink($services-theme) }
    }
  }

  main {
    background-color: $white;
    position: relative;
    flex: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    @media(max-width: 800px) {
      flex: 2.5;
    }

    @media(max-width: 675px) {
      flex: 0;
      display: block;
      margin-top: 100px;
    }

    a.fn {
      display: block;
      font-family: $heading-font-family;
      font-size: 72px;
      font-weight: 200;
      margin: 0;
      line-height: 1;
      margin-bottom: 30px;
      padding: 0;
      cursor: default;
      color: $base-font-color;
      pointer-events: none;

      @media(max-width: 800px) {
        font-size: 60px;
      }

      @media(max-width: 675px) {
        text-align: center;
      }

      @media(max-width: 500px) {
        font-size: 48px;
      }
    }

    .self-portrait-desktop {
      float: right;
      border-radius: 75px;
      width: 150px;
      margin: -2px 20px 20px;

      @media(max-width: 675px) {
        display: none;
      }
    }

    .self-portrait-mobile {
      margin: -75px auto 20px;
      border-radius: 75px;
      width: 150px;
      display: none;

      @media(max-width: 675px) {
        display: block;
      }
    }

    .content {
      max-width: 570px;
      margin-left: 50px;

      @media(max-width: 675px) {
        max-width: none;
        margin: 0;
        padding: 50px;
      }

      @media(max-width: 500px) {
        padding: 30px;
      }

      p {
        margin-right: -20px;
      }
    }

    .social {
      margin-top: 40px;

      @media(max-width: 675px) {
        text-align: center;
      }

      a {
        margin-right: 20px;

        .fa-envelope {
          line-height: 0.7;
        }
      }
    }
  }

  .quotes {
    height: 200px;
    overflow: hidden;
    padding-top: -100px;

    blockquote {
      margin: 0;
      height: 200px;
      animation: 40s quote infinite;
      overflow: hidden;

      p {
        margin-bottom: 10px;
      }

      @media(max-width: 500px) {
        font-size: 18px;
      }
    };
  }

  @keyframes quote {
    0% { transform: translateY(0);}

    18% { transform: translateY(0);}
    20% { transform: translateY(-200px);}

    38% { transform: translateY(-200px);}
    40% { transform: translateY(-400px);}

    58% { transform: translateY(-400px);}
    60% { transform: translateY(-600px);}

    78% { transform: translateY(-600px);}
    80% { transform: translateY(-800px);}

    98% { transform: translateY(-800px);}
  }
}

.trees {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $paper;
  overflow: hidden;
  transform: rotate(0);

  @media(max-width: 768px) {
    display: none;
  }
}

.js-figure {
  height: 40vh;
  min-height: 400px;
  background-color: #dce3ec;
  overflow: hidden;
  transform: rotate(0);
  border: 1px solid #CFC5B4;
  margin-bottom: 30px;
}

.dapple {
  position: absolute;
  filter: blur(15px);
  border: 10px rgba(255,255,254,.5);
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: rgba(255,255,254,.2);
}

.dapples-a {
  will-change: transform;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translateZ(0);
  animation: sway 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.42,0,0.58,1);
}

.dapples-b {
  will-change: transform;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translateZ(0);
  animation: sway 9.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.42,0,0.58,1);
}

@keyframes sway {
  0% { transform: translate3d(-20vw, -20vh, 0);  }
  50% { transform: translate3d(20vw, 20vh, 0);  }
  100% { transform: translate3d(0vw, 0vh, 0);  }
}





#stripes {
  overflow: hidden;
  background-color: #f2f1ed;
  > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    animation: colorchange 40s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: rgb(15, 15, 2);
    &:nth-of-type(5n) {
      background-color: $red-afterimage;
      animation-delay: 0s;
      width: 7%;
    }
    &:nth-of-type(5n+1) {
      background-color: $blue-afterimage;
      animation-delay: -7s;
      width: 28%;
    }
    &:nth-of-type(5n+2) {
      background-color: $green-afterimage;
      animation-delay: -14s;
      width: 21%;
    }
    &:nth-of-type(5n+3) {
      background-color: $yellow-afterimage;
      animation-delay: -21s;
      width: 30%;
    }
    &:nth-of-type(5n+4) {
      background-color: $violet-afterimage;
      animation-delay: -28s;
      width: 14%;
    }
  }
}

 @keyframes colorchange {
   0.0% { transform: translate(0)  }
   25% { transform: translate(400px) }
   50% { transform: translate(100px)  }
   75% { transform: translate(300px) }
   100% { transform: translate(0) }
}



.footer-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $green;
  color: $white;
  z-index: 8;
  padding: 1rem;
  font-family: $heading-font-family;
  text-align: center;

  a {
    color: inherit;
    text-decoration: underline;
  }

  @media(max-width: 740px) {
    font-size: .9rem;
  }
}

html.tools .footer-banner { background-color: $tools-theme; }
html.writing .footer-banner { background-color: $writing-theme; }
html.services .footer-banner { background-color: $services-theme; }
html.art .footer-banner { background-color: $art-theme; }
html.contact .footer-banner { background-color: $yellow; color: $base-font-color }
html.default .footer-banner { background-color: $blue; }
