---
---
@import "{{ site.theme }}";
@import "shared_styles/imports";
@import "shared_styles/defaults";

html {
  background-color: #333;
}

body {
  background-color: #fff;
}

#blog-entry {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;

  .content {
    float: left;
    width: 70%;

    @media(max-width: 1000px) {
      width: 100%;
    }
  }

  .post {
    @include clearfix;
    margin: $base-spacing * 3 $base-spacing * 2;

    @media(max-width: 1000px) {
      margin: $base-spacing * 2 $base-spacing $base-spacing * 2 $base-spacing * 2;
    }

    @media(max-width: 600px) {
      margin: $base-spacing * 2 $small-spacing $base-spacing * 2 $base-spacing;
    }
  }

  .date {
    float: right;
    font-feature-settings: "c2sc";
    font-family: "equity-caps-b";
    font-style: italic;
    color: #bbb;
  }

  .text-block {
    float: left;
    width: 66%;
    margin-top: 1em;
    background-color: #fff;
    padding-right: $base-spacing * 1.5;
    padding-left: $base-spacing;

    @media(max-width: 1024px) {
      width: 70%;
    }

    @media(max-width: 600px) {
      width: 100%;
      padding-left: $small-spacing;
      padding-right: $small-spacing;
    }

    &:first-of-type {
      margin-top: $base-spacing * 2;
    }

    &:last-of-type {
      margin-bottom: $base-spacing * 2;
    }

    >:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    p {
      margin-right: -15px;
    }

    img {
      width: 100%;
      padding: $base-spacing 0;
    }
  }

  .title {
    margin-bottom: $base-spacing;
    position:relative;
    z-index: 99;

    @media(max-width: 600px) {
      padding: $small-spacing 0;
      margin-bottom: $base-spacing;
    }

    h1 {
      padding: 0;
      font-size: 1.5em;
      margin: 0;
      padding-bottom: $small-spacing;
    }

    h2 {
      margin: 0;
      padding: 0;
      font-size: 1em;
      font-style: italic;
      font-weight: normal;
      padding-bottom: 2em;
    }

    .logo {
      float: right;
      width: 25%;
    }
  }

  .marginalia  {
    min-height: 10px;
    width: 30%;
    padding-right: $base-spacing;
    float: left;

    @media(max-width: 900px) {
      width: 100%;
    }

    .noteblock {
      font: 12px/1.2  sans-serif;
      color: #a98;

      @media(max-width: 600px) {
        display: none;
      }
    }
  }

  .marginalia > p {
    padding-top: 15px;
  }

  figure {
    margin: $base-spacing $small-spacing $base-spacing 0;
    padding: $small-spacing/2 $base-spacing;
    font-size: .9em;
    overflow: auto;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
  }

  pre {
    overflow: visible;
  }
}

.header, .footer {
  max-width: 1000px;
  margin: 0 auto;
  color: #fed;
  background-color: #fa0;
  padding: $base-spacing;
  font-family: sans-serif;

  font-size: .9em;
  a {
    color: #fed;
    text-decoration: underline;
    &:hover {
      color: #fff;
    }
  }
}

.header {
  padding: 0;
  height: 50px;
  position: relative;
  .diiq {
    height: 50px;
    position: absolute;
    top: 0;
    right: 5px;
    path {
      fill: #fff;
    }
  }
}