---
---
@import "main.scss";

html {
  @media(min-width: 676px) {
    height: 100%;
  }
}

#index-page {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: $paper;
  display: flex;
  justify-content: stretch;
  align-items: stretch;

  @media(max-width: 675px) {
    flex-direction: column-reverse;

  }

  nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: $paper;

    @media(max-width: 675px) {
      flex: 0;
      display: block;
      padding: 40px 30px;
    }

    a {
      font-family: $heading-font-family;
      font-size: 24px;
      padding: 20px 50px;
      margin: 10px 0;
      text-align: right;
      transition: background-color 125ms, color 125ms;

      @media(max-width: 675px) {
        display: block;
        text-align: center;
        max-width: 300px;
        margin: 20px auto;
        font-size: 18px;
        padding: 10px 30px;
      }

      &.green {
        color: $green;

        @media(max-width: 675px) {
          background-color: $green;
          color: $font-white;
        }

        &:hover {
          background-color: $green;
          color: $font-white;
        }
      }

      &.red {
        color: $red;

        @media(max-width: 675px) {
          background-color: $red;
          color: $font-white;
        }

        &:hover {
          background-color: $red;
          color: $font-white;
        }
      }

      &.blue {
        color: $blue;

        @media(max-width: 675px) {
          background-color: $blue;
          color: $font-white;
        }

        &:hover {
          background-color: $blue;
          color: $font-white;
        }
      }

      &.violet {
        color: $violet;

        @media(max-width: 675px) {
          background-color: $violet;
          color: $font-white;
        }

        &:hover {
          background-color: $violet;
          color: $font-white;
        }
      }

      &.yellow {
        color: $yellow-text;

        @media(max-width: 675px) {
          background-color: $yellow;
          color: $font-white;
        }

        &:hover {
          background-color: $yellow;
          color: $font-white;
        }
      }
    }
  }

  main {
    flex: 2;
    background-color: $white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    @media(max-width: 800px) {
      flex: 2.5;
    }

    @media(max-width: 675px) {
      flex: 0;
      display: block;
      margin-top: 100px;
    }

    h1 {
      font-size: 72px;
      font-weight: 200;
      margin: 0;
      margin-bottom: 32px;
      padding: 0;

      @media(max-width: 800px) {
        font-size: 60px;
      }

      @media(max-width: 675px) {
        text-align: center;
      }

      @media(max-width: 500px) {
        font-size: 48px;
      }
    }

    .self-portrait-desktop {
      float: right;
      border-radius: 75px;
      width: 150px;
      margin: -2px 20px 20px;

      @media(max-width: 675px) {
        display: none;
      }
    }

    .self-portrait-mobile {
      margin: -75px auto 20px;
      border-radius: 75px;
      width: 150px;
      display: none;

      @media(max-width: 675px) {
        display: block;
      }
    }

    .content {
      max-width: 570px;
      margin-left: 50px;

      @media(max-width: 675px) {
        max-width: none;
        margin: 0;
        padding: 50px;
      }

      @media(max-width: 500px) {
        padding: 30px;
      }

      p {
        margin-right: -20px;
      }
    }

    .social {
      margin-top: 40px;

      @media(max-width: 675px) {
        text-align: center;
      }

      a {
        margin-right: 20px;

        .fa-envelope {
          margin-left: 5px;
          line-height: 0.7;
        }
      }
    }
  }
}