<!DOCTYPE html>
<html data-ember-extension="1">
<head>
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width,initial-scale=1" name="viewport">
	<meta charset="UTF-8">
    <link href="{{ "/assets/images/favicon.png"  | absolute_url }}" rel="icon" type="image/png">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<script src="{{ '/assets/js/hypher.js?v=' | append: site.github.build_revision | relative_url }}"></script>
	<script src="{{ '/assets/js/unjustifiable.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <script src="{{ '/assets/js/justify.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <title>Sam Bleckley</title>
</head>
<body id="index-page">
    <nav>
        <a class="tools" href="/tools">Tools</a>
        <a class="services" href="/services">Services</a>
        <a class="writing" href="/blog">Writing</a>
        <a class="art" href="/art">Art</a>
        <a class="contact" href="/contact">Contact</a>
    </nav>
    <main>
        <div class="content">
            <img class="self-portrait-mobile" src="assets/images/sam.png" />
            <h1>Sam Bleckley</h1>
            <img class="self-portrait-desktop" src="assets/images/sam.png" />
            {{ content }}
            <div class="social">
                <a href="https://twitter.com/diiq"><i class="fa fa-lg fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/sam-bleckley/"><i class="fa fa-lg fa-linkedin-square"></i></a>
                <a href="https://github.com/diiq"><i class="fa fa-lg fa-github"></i></a>
                <a href="mailto:sam@sambleckley.com"><i class="fa fa-lg fa-envelope"></i></a>
            </div>
        </div>
    </main>
</body>
</html>

