<!DOCTYPE html>
<html data-ember-extension="1" class="services">
<head>
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width,initial-scale=1" name="viewport">
	<meta charset="UTF-8">
  <link href="{{ "/assets/images/favicon.png"  | absolute_url }}" rel="icon" type="image/png">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<script src="{{ '/assets/js/hypher.js?v=' | append: site.github.build_revision | relative_url }}"></script>
	<script src="{{ '/assets/js/unjustifiable.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  <script src="{{ '/assets/js/justify.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  <title>{{ page.title }} | Sam Bleckley</title>
</head>
<body class="services-page page">
    <button class="mobile-nav" aria-haspopup="true" onclick="openNav();">
        <div>Sam Bleckley</div>
        <i class="fa fa-lg fa-bars"></i>
    </button>
    <nav id="nav">
        <button class="mobile-nav" aria-haspopup="true" onclick="closeNav();">
            <div>Sam Bleckley</div>
            <i class="fa fa-lg fa-bars"></i>
        </button>
        <a class="gray" href="/">Sam Bleckley</a>
        <a class="tools" href="/tools">Tools</a>
        <a class="services" href="/services">Services</a>
        <a class="writing" href="/blog">Writing</a>
        <a class="art" href="/art">Art</a>
        <a class="contact" href="/contact">Contact</a>
    </nav>
    <main>
        <div class="content">
            <div class="aside">
                <p>Does your team need a helping hand, or a nudge in the right
                direction? Here are some ways I can help.</p>
            </div>
            <h1>Services</h1>
            <div class="services">
                <div class="service web-app">
                    <div class="title">Custom Web Applications</div>
                    <p>You've got a small, scrappy team, and they've been
                    working on your product for what seems like too long. Are
                    they doing a good job? We'll do an independent audit of your
                    process, code, and goals. We'll help get you and your team
                    back on track.</p>
                    <!-- <a href="/services/custom">Read More</a> -->
                    <a href="/contact">Contact Me</a>
                </div>

                <div class="service hire">
                    <div class="title">First Hire Assistance</div>
                    <p>You've got a small, scrappy team, and they've been
                    working on your product for what seems like too long. Are
                    they doing a good job? We'll do an independent audit of your
                    process, code, and goals. We'll help get you and your team
                    back on track.</p>
                    <a href="/contact">Contact Me</a>
                </div>

                <div class="service audit">
                    <div class="title">Project Audit</div>
                    <p>You've got a small, scrappy team, and they've been working on
                    your product for what seems like too long. Are they doing a good
                    job? We'll do an independent audit of your process, code, and
                    goals. We'll help get you and your team back on track.</p>
                    <a href="/contact">Contact Me</a>
                </div>

                <div class="service gap">
                    <div class="title">Gap Analysis</div>
                    <p>Hiring your first software engineer can be daunting. It's a
                    huge expense, and it's very hard to vet candidate's technical
                    skills. Let us help you, from writing the job description,
                    through the interview process.</p>
                    <a href="/contact">Contact Me</a>
                </div>

                <div class="service talks">
                    <div class="title">Talks and Classes</div>
                    <p>Make your team rock-solid in important software development
                    fundamentals like version control, estimation, product planning,
                    or iterative development. We'll teach you and your team how to
                    be stronger and more consistent.</p>
                    <!-- <a href="/services/talks">Read More</a> -->
                    <a href="/contact">Contact Me</a>
                </div>
            </div>
        </div>
    </main>
    <footer>
      <a href="mailto:sam@sambleckley.com">sam@sambleckley.com</a>
    </footer>
</body>
</html>

