<!DOCTYPE html>
<html lang="en" class="services">
<head>
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width,initial-scale=1" name="viewport">
	<meta charset="UTF-8">
    <link href="{{ "/assets/images/favicon.png"  | absolute_url }}" rel="icon" type="image/png">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<script src="{{ '/assets/js/hypher.js?v=' | append: site.github.build_revision | relative_url }}"></script>
	<script src="{{ '/assets/js/unjustifiable.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <script src="{{ '/assets/js/justify.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <script src="{{ '/assets/js/trees.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  <title>{{ page.title }} | Sam Bleckley</title>
</head>
<body class="services-page page">
    <button class="mobile-nav" aria-haspopup="true" onclick="openNav();" aria-label="Menu">
        <div>Sam Bleckley</div>
        <i class="fa fa-lg fa-bars"></i>
    </button>
    <nav id="nav">
        <button class="mobile-nav" aria-haspopup="true" onclick="closeNav();" aria-label="Close menu">
            <div>Sam Bleckley</div>
            <i class="fa fa-lg fa-bars"></i>
        </button>
        <a class="gray" href="/">Sam Bleckley</a>
        <a class="tools" href="/tools">Tools</a>
        <a class="services" href="/services">Services</a>
        <a class="writing" href="/blog">Writing</a>
        <a class="art" href="/art">Art</a>
        <a class="contact" href="/contact">Contact</a>
    </nav>
    <main>
        <div class="content">
            {{ content }}
        </div>
    </main>
    <div class="footer-banner">I am available for contracts in 2020! <a class="contact" href="/contact">Reach out</a> to see what I can do for you.</div>
    <footer>
      <a href="mailto:sam@sambleckley.com">sam@sambleckley.com</a>
    </footer>
</body>
</html>
